.sale {
	margin-bottom: 20px;
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__coll {
		width: calc(25% + 1px);
		margin-left: -1px;
	}
}
@media (max-width: 1650px) {
	.sale {
		&__coll {
			width: calc(33.333% + 1px);
		}
	}
}
@media (max-width: 1220px) {
	.sale {
		&__coll {
			width: calc(50% + 1px);
		}
	}
}
@media (max-width: 1010px) {
	.sale {
		margin-bottom: 50px;
	}
}
@media (max-width: 600px) {
	.sale {
		&__coll {
			width: calc(100% + 1px);
		}
	}
}
