.subcategories {
	margin-top: -20px;
	&__top {
		font-weight: 500;
		font-size: 12px;
		line-height: 110%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #c6bdbd;
		margin-bottom: 25px;
		&-box {
			& + & {
				margin-left: 35px;
			}
		}
	}
	&__view {
		&-caption {
			margin-right: 15px;
		}
		&-btn {
			& + & {
				margin-left: 10px;
			}
			width: 18px;
			height: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			svg {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
				display: block;
				& * {
					fill: #c6bdbd;
					transition: all 0.3s;
				}
			}
			&.active,
			&:hover {
				svg {
					& * {
						fill: #000;
						transition: all 0.3s;
					}
				}
			}
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		padding-left: 1px;
	}
	&__coll {
		width: calc(25% + 1px);
		margin-left: -1px;
		&.string {
			width: calc(100% + 1px);
			padding: 20px;
			&:after {
				display: none;
			}
			.product {
				&__top {
					width: calc(100% - 320px);
					display: flex;
					flex-wrap: wrap;
					&-box {
						width: 230px;
						margin-right: 90px;
						.product__stars {
							display: none;
						}
					}
					&-block {
						width: calc(100% - 320px);
						padding-top: 15px;
					}
					&-flex {
						display: flex;
						margin-top: 35px;
					}
				}
				&__block {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
				}
				&__img {
					width: 100%;
					height: 200px;
					margin: 0px;
				}
				&__bottom {
					padding: 0px;
					position: relative;
					width: 100%;
					opacity: 1;
					transform: translateY(0px);
					visibility: visible;
					width: 290px;
					display: flex;
					flex-wrap: wrap;
					transition: all 0.3s;
				}
				&__items {
					flex-wrap: wrap;
					margin-bottom: 0;
					width: 100%;
					order: 1;
				}
				&__btn {
					margin-bottom: 0;
					margin-top: 30px;
					order: 2;
				}
				&__name {
					width: 100%;
					min-height: 55px;
					margin-bottom: 10px;
					br {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-width: 1580px) {
	.subcategories {
		&__coll {
			width: calc(33.333% + 1px);
		}
	}
}
@media (max-width: 1390px) {
	.subcategories {
		&__coll {
			width: calc(33.333% + 1px);
			&.string {
				padding: 20px 15px;
				.product {
					&__top {
						width: calc(100% - 280px);
						&-box {
							width: 200px;
							margin-right: 20px;
						}
						&-block {
							width: calc(100% - 220px);
							padding-top: 5px;
						}
						&-flex {
							margin-top: 20px;
						}
					}
					&__img {
						height: 150px;
					}
					&__bottom {
						width: 250px;
					}
					&__item {
						font-size: 13px;
					}
					&__btn {
						margin-top: 15px;
					}
					&__name {
						min-height: 50px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media (max-width: 1190px) {
	.subcategories {
		&__right {
			display: none;
		}
		&__coll {
			width: calc(50% + 1px);
			&.string {
				width: calc(50% + 1px);
				padding: 20px 25px 35px;
			}
		}
	}
}
@media (max-width: 1090px) {
	.subcategories {
		margin-top: 0px;
	}
}
@media (max-width: 760px) {
	.subcategories {
		&__scroll {
			margin-top: 10px;
			overflow: auto;
			margin-bottom: 25px;
			padding-bottom: 10px;
		}
		&__top {
			min-width: 420px;
			margin-bottom: 0;
		}
		&__right {
			display: none;
		}
	}
}
@media (max-width: 600px) {
	.subcategories {
		&__coll {
			width: 100%;
		}
	}
}
